{% extends 'login_base.html' %}

{% block form %}
    <h1>WOW Login</h1>
    <div class="links">
        <a href="{{ url_for('login') }}">User Login</a>
        <a href="{{ url_for('admin_login') }}" class ="active">Admin Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('corp_register') }}">Corporation Register</a>
    </div>
    <form action="{{ url_for('admin_login') }}" method="post">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required><br><br>

        {% if msg and msg != "" %}
            <div class="msg"><i class="fas fa-exclamation-triangle"></i>{{ msg }}</div>
        {% endif %}
        <input type="submit" value="Login">
    </form>
{% endblock %}