<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOW Cust_coupon</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <div class="navbar">
        <a href="/index" style="text-decoration:none"><h1>WOW Rental</h1></a>
        <a href="/logout" style="text-decoration:none; padding-right: 10px"><h1>Log out</h1></a>
    </div>
    <div class="main" align="center">
        <h1>Coupons for Customers</h1>
        <form id="coupon_form" action="" method="post">
            <label for="cou_rate">
                Coupon Rate(%):
            </label>
            <input type="number" name="cou_rate" id="cou_rate" required><br>

            <label for="validstart">
                Valid Date Start:
            </label>
            <input type="date" name="validstart" id="validstart"><br>

            <label for="validend">
                Valid Date End:
            </label>
            <input type="date" name="validend" id="validend"><br>

            <label for="customers">
                Customer:
            </label>
            <select name="customers" id="customers">
            {% for customer in customers %}
                <option value= "{{customer.username}}">{{ customer.first_name }}, {{ customer.last_name }} </option>
            {% endfor %}
            </select><br><br>

            <div class="msg">{{ msg }}</div>
        </form>

        <div class="vehicle_buttons">
          <button type="submit" form="coupon_form">Allocate Coupon</button>
          <a class="button" href="{{ url_for('manage') }}"><button>Back</button></a>
        </div>
    </div>


</body>
</html>