<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>WOW Index</title>
		<link rel="stylesheet" href="../static/index.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
        <div class="navbar">
            <a href="/index" style="text-decoration:none"><h1>WOW Rental</h1></a>
            <a href="/logout" style="text-decoration:none; padding-right: 10px"><h1>Log out</h1></a>
        </div>

        <div class="main">
            <h1>Vehicles Available</h1>
            <ul style="padding-inline-start:0px;">
            {% for vehicle in vehicles %}
              <div class="vehicle_card">
                  <div class="vehicle_image">
                        <img src="{{vehicle_images[vehicle.name]}}" width="400" height="250">
                  </div>
                  <div class="vehicle_info">
                      <h1> {{ vehicle.name }} </h1>
                      <h1> {{ vehicle.model }} </h1>
                  </div>
                  <div class="vehicle_buttons">
                      <a class="button" href="{{ url_for('vehicle_page', vehicle_id=vehicle.name) }}"><button>RENT</button></a>
                  </div>
              </div>
            {% endfor %}
            </ul>
		</div>
	</body>
</html>