<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOW Man_Vehicle</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <div class="navbar">
        <a href="/index" style="text-decoration:none"><h1>WOW Rental</h1></a>
        <a href="/logout" style="text-decoration:none; padding-right: 10px"><h1>Log out</h1></a>
    </div>
    <div class="login">
        <h1>Vehicle</h1>
        <form id="vehicle_form" action="" method="post">
            <label for="make">
                <i class="fas fa-user-tie"></i>
            </label>
            <input type="text" name="make" placeholder="Make" id="make" required><br>

            <label for="model">
                <i class="fas fa-car"></i>
            </label>
            <input type="text" name="model" placeholder="Model" id="model" required><br>

            <label for="year">
                <i class="fas fa-calendar-alt"></i>
            </label>
            <input type="text" name="year" placeholder="Year" id="year" required><br>

            <label for="vin_num">
                <i class="fas fa-id-card-alt"></i>
            </label>
            <input type="text" name="vin_num" placeholder="VIN num" id="vin_num" required><br>

            <label for="license_num">
                <i class="fas fa-id-card-alt"></i>
            </label>
            <input type="text" name="license_num" placeholder="License num" id="license_num" required><br>

            <label for="vehicle_class">
                <i class="fas fa-car"></i>
            </label>
            <select name="vehicle_class" id="vehicle_class" class="selection">
            {% for class in classes %}
                <option value= "{{class.vc_num}}" >{{ class.vc_name }}, {{ class.vc_rateperday }}, {{ class.vc_feeovermile }}</option>
            {% endfor %}
            </select><br><br>

            <label for="location">
                <i class="fas fa-home"></i>
            </label>
            <select name="location" id="location" class="selection">
            {% for location in locations %}
                <option value= "{{location.location_id}}">{{ location.street }}</option>
            {% endfor %}
            </select><br><br>

            <div class="msg">{{ msg }}</div>
        </form>

        <div class="vehicle_buttons">
          <button type="submit" form="vehicle_form">Add Vehicle</button>
          <a class="button" href="{{ url_for('manage') }}"><button>Back</button></a>
        </div>
    </div>


</body>
</html>