<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>WOW Index</title>
		<link rel="stylesheet" href="../../static/index.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
        <div class="navbar">
            <a href="/index" style="text-decoration:none"><h1>WOW Rental</h1></a>
			<a href="/logout" style="text-decoration:none; padding-right: 10px"><h1>Log out</h1></a>
        </div>

        <div class="main">
            <h1>Review And Pay</h1>
			<div class="vehicle_card">
                  <div class="vehicle_image">
                        <img src="{{vehicle_images[vehicle.make + '_' +vehicle.model]}}" width="400" height="250">
                  </div>
                  <div class="vehicle_payment">
				    <h2>Base payment: ${{ base_payment }}</h2>
				    <h2>Overmiles payment: ${{ overmiles_payment }}</h2>
				    {% if coupon %}
    					<h2>Coupon rate: {{ coupon.cou_rate }}%
					  	{% if coupon.validstart and coupon.validend %}
							<i>(Valid from {{ coupon.validstart }} to {{ coupon.validend }})</i>
						{% endif %}
						</h2>
					{% endif %}
				    {% if discount != 0 %}
    					<h2>You saved: ${{ discount }}</h2>
					{% endif %}
				    <br><br>
				    <h1>Total payment: ${{ total_payment }}</h1>
				    <form action="" id="pay_form" method="post">
						<label for="pay_method">Pick up location:</label>
						  <select name="pay_method" id="pay_method">
							  <option value= "credit">Credit Card</option>
							  <option value= "debit">Dedit Card</option>
							  <option value= "gift_card">Gift Card</option>
						  </select><br><br>

						<label for="card_num">Card number:</label>
				        <input type="number" id="card_num" name="card_num"><br><br>

						<label for="email_address">Email for invoice:</label>
				        <input type="email" id="email_address" name="email_address"><br><br>
				    </form>
				  </div>

                  <div class="vehicle_buttons">
					  <button type="submit" form="pay_form" class="rent_button">Pay</button>
					  <a class="button" href="{{ url_for('vehicle_page', vehicle_id=vehicle.veh_id) }}"><button>Cancel</button></a>
                  </div>
              </div>
		</div>
	</body>
</html>